{#
/**
* @file
* Display a list of elements from event database.

* Available variables:
* - view: General display settings
* - events: All events from source
* - images: Render array of cached images. Structured with the same array key as the occurrences array.
*/
#}

<section class="event-list">
	{% for event in events %}
		<article class="event-list--event">
			<h1>{{ event.name }}</h1>
			<div class="event-list--event-description">{{ event.description | raw }}</div>
			{% if event.occurrences %}
				<div class="event-list--occurrences">
					{% for occurrence in event.occurrences %}
						<div class="occurrence">
							<div class="occurence--date-wrapper">
								<span class="occurence--date"> {{ occurrence.startDate | date('j/n') }}</span>
								{% if occurrence.get('samedate') == false and occurrence.startDate < occurrence.endDate %}
								<span class="occurence--separator"> {{ 'to' | t }} </span><span class="occurence--end-date">{{ occurrence.endDate | date('j/n')}}</span>
								{% endif %}
								<span class="occurence--year">- {{ occurrence.startDate | date('Y') }}</span>
							</div>
							<div class="occurence--time-wrapper">
								<span> {{ occurrence.startDate | date('H:i') }}</span>
							</div>
							{% if occurrence.place and occurrence.place.name %}
								<div class="occurence--place-wrapper">
									<span class="occurence--label">{{ 'Place' | t }}: </span><span class="occurence--place">{{ occurrence.place.name }}</span>
								</div>
							{% endif %}
						</div>
					{% endfor %}
					<div><a href="{{ path('event_database_pull.events_show', { id: event.itemId }) }}">{{ 'Read more' | t }}</a></div>
				</div>
			{% endif %}
		</article>
	{% endfor %}
	{% if view.more_link %}
		<div class="event-list--footer">
			<a class="event-list--read-more button" href="{{ path('event_database_pull.events_list') }}">{{ 'Show all events' | t }}</a>
		</div>
	{% endif %}
</section>
