{#
/**
 * @file
 * Display an element from event database.
 *
 * Available variables:
 * - event: The event displayed.
 */
#}

<article class="itk-event-database-event-details">
	<h1>{{ event.name }}</h1>

	<div class="description">{{ event.description | raw }}</div>

	{% if event.occurrences %}
		<div class="occurrences">
			{% for occurrence in event.occurrences %}
				<div class="occurrence">
					<div class="occurence--date-wrapper">
						{% include '@event_database_pull/calendar.svg' %} <span class="occurence--date"> {{ occurrence.startDate | date('j/n') }}</span>
						{% if occurrence.get('samedate') == FALSE and occurrence.startDate < occurrence.endDate %}
							<span class="occurence--separator"> {{ 'to' | t }} </span><span class="occurence--end-date">{{ occurrence.endDate | date('j/n')}}</span>
						{% endif %}
						<span class="occurence--year">- {{ occurrence.startDate | date('Y') }}</span>
					</div>
					<div class="occurence--time-wrapper">
						{% include '@event_database_pull/time.svg' %} <span> {{ occurrence.startDate | date('H:i') }}</span>
					</div>
					{% if occurrence.place and occurrence.place.name %}
						<div class="occurence--place-wrapper">
							<span class="occurence--label">{{ 'Place' | t }}: </span><span class="occurence--place">{{ occurrence.place.name }}</span>
						</div>
					{% endif %}
				</div>
			{% endfor %}
		</div>
	{% endif %}
</article>

<a href="{{ path('event_database_pull.events_list') }}">{{ 'Back to list' | t }}</a>
