{#
/**
* @file
* Display a list of elements from event database.

* Available variables:
* - view:
* - events: All events from source
* - images: Render array of cached images. Structured with the same array key as the occurrences array.
*/
#}

<h1 class="content--header">{{ 'All events' | t }}</h1>
<section class="event-list">
	{% for event in events %}
		<article class="event-list--event">
			<h1>{{ event.name }}</h1>
			<div class="event-list--description">{{ event.description | raw }}</div>
			{% if event.occurrences %}
				<div class="event-list--occurrences">
					{% for occurrence in event.occurrences %}
						<div class="occurrence">
							<div class="occurence--date-wrapper">
								<span class="occurence--date"> {{ occurrence.startDate | date('j/n') }}</span>
								{% if occurrence.get('samedate') == FALSE and occurrence.startDate < occurrence.endDate %}
									<span class="occurence--separator"> {{ 'to' | t }} </span><span class="occurence--end-date">{{ occurrence.endDate | date('j/n')}}</span>
								{% endif %}
								<span class="occurence--year">- {{ occurrence.startDate | date('Y') }}</span>
							</div>
							<div class="occurence--time-wrapper">
								<span> {{ occurrence.startDate | date('H:i') }}</span>
							</div>
							{% if occurrence.place and occurrence.place.name %}
								<div class="occurence--place-wrapper">
									<span class="occurence--label">{{ 'Place' | t }}: </span><span class="occurence--place">{{ occurrence.place.name }}</span>
								</div>
							{% endif %}
						</div>
					{% endfor %}
				</div>
			{% endif %}
		</article>
	{% endfor %}

	{% if view %}
		<span class="pager">
			{% if view.first %}
				<span class="pager__item pager__item--first"><a href="{{ view.first }}">{{ 'First' | t }}</a></span>
			{% endif %}
			{% if view.previous %}
				<span class="pager__item pager__item--previous"><a href="{{ view.previous }}">{{ 'Previous' | t }}</a></span>
			{% endif %}
			{% if view.next %}
				<span class="pager__item pager__item--next"><a href="{{ view.next }}">{{ 'Next' | t }}</a></span>
			{% endif %}
			{% if view.last %}
				<span class="pager__item pager__item--last"><a href="{{ view.last }}">{{ 'Last' | t }}</a></span>
			{% endif %}
		</span>
	{% endif %}
</section>
